{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <p>The Coin Determiner Problem:</p>
        <p>Have the function CoinDeterminer(num) take the input, which will be an integer ranging from 1 to 250, and return an integer output that will specify the least number of coins, that when added, equal the input integer. Coins are based on a system as follows: there are coins representing the integers 1, 5, 7, 9, and 11. So for example: if num is 16, then the output should be 2 because you can achieve the number 16 with the coins 9 and 7. If num is 25, then the output should be 3 because you can achieve 25 with either 11, 9, and 5 coins or with 9, 9, and 7 coins.</p>
        <p>Submit a file with inputs and click Send</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit" class="btn btn-primary">Send</button></p>
        </form>
    </div>
    <div class="col-lg-6">
        {% if inputs %}
            <h3>Input</h3>
            {% for input in inputs %}
                <p>{{input}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-6">
        {% if outputs %}
            <h3>Output</h3>
            {% for output in outputs %}
                <p>{{output}}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}